name: oureschoolweb
description: Web Part of Our-E-School App
version: 1.0.0+1

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  responsive_framework: ^0.0.3
  google_fonts: ^0.3.9
  responsive_builder: ^0.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
